In [9]:
('a', 10, True)

('a', 10, True)

In [10]:
a = ('a', 10, True)
b = 'b', 20, False

In [11]:
type(a)

tuple

In [12]:
type(b)

tuple

In [13]:
def iterate(t):
    for element in t:
        print(element)

In [14]:
iterate(1, 2, 3)

TypeError: iterate() takes 1 positional argument but 3 were given

In [16]:
iterate((1, 2, 3))

1
2
3

In [17]:
a = 'a', 10, True

In [18]:
a[2]

True

In [19]:
a[-1]

True

In [20]:
a = 1, 2, 3, 4, 5
a[2:4]

(3, 4)

In [21]:
a = 1, 2, 3, 4, 5
for element in a:
    print(element)

1
2
3
4
5

In [22]:
point = 10, 20, 30

In [23]:
x, y, z = point

In [24]:
print(x)
print(y)
print(z)

10
20
30

In [25]:
a = 10, 'python', True

In [26]:
a[0] = 20

TypeError: 'tuple' object does not support item assignment

In [27]:
a = 1, 2, 3

In [28]:
id(a)

1276148164544

In [29]:
a = a + (4, 5, 6)

In [30]:
a

(1, 2, 3, 4, 5, 6)

In [31]:
id(a)

1276147707424

In [32]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [33]:
a = Point2D(0, 0), Point2D(10, 10), Point2D(20, 20)

In [34]:
a

(Point2D(x=0, y=0), Point2D(x=10, y=10), Point2D(x=20, y=20))

In [35]:
a[0] = Point2D(-10, -10)

TypeError: 'tuple' object does not support item assignment

In [36]:
a[0].x = -10

In [37]:
a

(Point2D(x=-10, y=0), Point2D(x=10, y=10), Point2D(x=20, y=20))

In [38]:
pt1 = (0, 0)
pt2 = (10, 10)

In [39]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [40]:
cities = london, new_york, beijing

In [41]:
city_names = [t[0] for t in cities]
print(city_names)

['London', 'New York', 'Beijing']

In [42]:
total = 0
for city in cities:
    total += city[2]
print (f'total={total}')

total=38280000

In [43]:
[city[2] for city in cities]

[8780000, 8500000, 21000000]

In [44]:
sum([city[2] for city in cities])

38280000

In [45]:
sum(city[2] for city in cities)

38280000

In [46]:
city, country, population = new_york

In [47]:
print(city)
print(country)
print(population)

New York
USA
8500000

In [48]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [49]:
symbol, year, month, day, open_, high, low, close = record

In [50]:
print(symbol)
print(close)

DJIA
26072

In [51]:
symbol, year, month, day, *others, close = record

In [52]:
print(symbol, year, month, day, close)

DJIA 2018 1 19 26072

In [53]:
print(others)

[25987, 26072, 25942]

In [54]:
symbol, year, month, day, *_, close = record

In [55]:
print(_)

[25987, 26072, 25942]

In [56]:
symbol, year, close = record[0], record[1], record[7]

In [57]:
symbol, year, *_, close = record

In [58]:
for element in cities:
    print(element)

('London', 'UK', 8780000)
('New York', 'USA', 8500000)
('Beijing', 'China', 21000000)

In [59]:
for city, country, population in cities:
    print(f'city={city}, population={population}')

city=London, population=8780000
city=New York, population=8500000
city=Beijing, population=21000000

In [60]:
for index, value in enumerate(beijing):
    print(f'{index}: {value}')

0: Beijing
1: China
2: 21000000

In [61]:
for city, _, population in cities:
    print(f'city={city}, population={population}')

city=London, population=8780000
city=New York, population=8500000
city=Beijing, population=21000000

In [62]:
from random import uniform
from math import sqrt

def random_shot(radius):
    '''Generates a random 2D coordinate within 
    the bounds [-radius, radius] * [-radius, radius]
    (a square of area 4)
    and also determines if it falls within 
    a circle centered at the origin 
    with specified radius'''
    
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)

    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
    
    return random_x, random_y, is_in_circle

In [63]:
num_attempts = 1_000_000
count_inside = 0
for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1

print(f'Pi is approximately: {4 * count_inside / num_attempts}')

Pi is approximately: 3.143336

# Named Tuples

In [64]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [10]:
from collections import namedtuple

In [3]:
Point2D = namedtuple('Point2D', ('x', 'y'))

In [4]:
Pt = namedtuple('Point2D', ('x', 'y'))

In [5]:
pt1 = Pt(10, 20)

In [6]:
pt1

Point2D(x=10, y=20)

In [7]:
Point2D = namedtuple('Point2D', ('x', 'y'))

In [8]:
pt1 = Point2D(10, 20)

In [9]:
pt1

Point2D(x=10, y=20)

In [73]:
Pt3 = Point3D  # class we defined earlier

In [74]:
pt3 = Pt3(10, 20, 30)

In [75]:
pt3

In [76]:
type(Point3D)

type

In [77]:
type(Point2D)

type

In [78]:
isinstance(pt1, tuple)

True

In [79]:
isinstance(pt3, tuple)

False

In [80]:
pt4 = Point2D(y=20, x=10)

In [81]:
pt4

Point2D(x=10, y=20)

In [82]:
pt2d_1 = Point2D(10, 20)
pt2d_2 = Point2D(10, 20)

In [83]:
pt2d_1

Point2D(x=10, y=20)

In [84]:
pt2d_1 == pt2d_2

True

In [85]:
pt3d_1 = Point3D(10, 20, 30)
pt3d_2 = Point3D(10, 20, 30)

In [86]:
pt3d_1

In [87]:
pt3d_1 == pt3d_2

False

In [88]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
    
    def __repr__(self):
        return f"Point3D(x={self.x}, y={self.y}, z={self.z})"
    
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [89]:
pt3d_1 = Point3D(10, 20, 30)
pt3d_2 = Point3D(10, 20, 30)

In [90]:
pt3d_1 == pt3d_2

True

In [91]:
pt3d_1

Point3D(x=10, y=20, z=30)

In [92]:
max(pt2d_1)

20

In [93]:
max(pt3d_1)

TypeError: 'Point3D' object is not iterable

In [94]:
def dot_product_3d(a, b):
    return a.x * b.x + a.y * b.y + a.z + b.z

In [95]:
dot_product_3d(pt3d_1, pt3d_2)

560

In [96]:
def dot_product(a, b):
    return sum(e[0] * e[1] for e in  zip(a, b))

In [97]:
a = Point2D(1, 2)
b = Point2D(10, 20)
print(a)
print(b)
print(tuple(a))
print(tuple(b))
print(list(zip(a, b)))

Point2D(x=1, y=2)
Point2D(x=10, y=20)
(1, 2)
(10, 20)
[(1, 10), (2, 20)]

In [98]:
u = (1, 2, 3)
v = (10, 20, 30)
list(zip(u, v))

[(1, 10), (2, 20), (3, 30)]

In [99]:
[e[0] * e[1] for e in zip(a, b)]

[10, 40]

In [100]:
sum([e[0] * e[1] for e in zip(a, b)])

50

In [101]:
dot_product(a, b)

50

In [102]:
Point4D = namedtuple('Point4D', ['i', 'j', 'k', 'l'])

In [103]:
pt4d_1 = (1, 1, 1, 10)
pt4d_2 = (2, 2, 2, 10)

In [104]:
dot_product(pt4d_1, pt4d_2)

106

In [105]:
Circle = namedtuple('Circle', ['center_x', 'center_y', 'radius'])

In [106]:
circle_1 = Circle(0, 0, 10)
circle_2 = Circle(center_x=10, center_y=20, radius=100)

In [107]:
City = namedtuple('City', 'name country population')

In [108]:
new_york = City('New York', 'USA', 8_500_000)

In [109]:
new_york

City(name='New York', country='USA', population=8500000)

In [110]:
Stock = namedtuple('Stock', 'symbol, year, month, day, open, high, low, close')

In [111]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [112]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [113]:
Stock = namedtuple('Stock', '''symbol
                               year month day
                               open high low close''')

In [114]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [115]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [116]:
pt1

Point2D(x=10, y=20)

In [117]:
pt1.x

10

In [118]:
circle_1

Circle(center_x=0, center_y=0, radius=10)

In [119]:
circle_1.radius

10

In [120]:
circle_1[2]

10

In [121]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [122]:
pt1

Point2D(x=10, y=20)

In [123]:
x, y = pt1

In [124]:
print(x, y)

10 20

In [125]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [126]:
symbol, *_, close = djia

In [127]:
print(symbol, close)

DJIA 26393

In [128]:
print(_)

[2018, 1, 25, 26313, 26458, 26260]

In [129]:
Person = namedtuple('Person', ['firstname', 'lastname', '_age', 'ssn'])

ValueError: Field names cannot start with an underscore: '_age'

In [17]:
Person = namedtuple('Person', ['firstname', '_lastname', 'age', 'ssn'], rename=True)

In [18]:
eric = Person('Eric', 'Idle', 42, 'unknown')

In [19]:
eric

Person(firstname='Eric', _1='Idle', age=42, ssn='unknown')

In [20]:
Person._fields

('firstname', '_1', 'age', 'ssn')

In [133]:
Point2D._fields

('x', 'y')

In [134]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [135]:
print(Point2D._source)

AttributeError: type object 'Point2D' has no attribute '_source'

In [136]:
eric._asdict()

{'firstname': 'Eric', 'lastname': 'Idle', '_2': 42, 'ssn': 'unknown'}

In [24]:
Point2D = namedtuple('Point2D', 'x y')

In [25]:
origin = Point2D(10,0)

In [28]:
origin.x = 0

AttributeError: can't set attribute

In [140]:
origin = Point2D(0, origin.y)

In [141]:
origin

Point2D(x=0, y=0)

In [142]:
Stock = namedtuple('Stock', 'symbol year month day open high low close')

In [143]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [144]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, 
                  djia.open, djia.high, djia.low, 26_394)

In [145]:
*values, _ = djia

In [146]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260]

In [147]:
djia = Stock(*values, 26_393)

In [148]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [149]:
djia[:3]

('DJIA', 2018, 1)

In [150]:
djia[:3] + (26,) + djia[4:]

('DJIA', 2018, 1, 26, 26313, 26458, 26260, 26393)

In [151]:
djia2 = Stock(*(djia[:3] + (26,) + djia[4:]))

In [152]:
djia2

Stock(symbol='DJIA', year=2018, month=1, day=26, open=26313, high=26458, low=26260, close=26393)

In [153]:
values = djia[0:1] + (2019,) + djia[2:3] + (26,) + djia[4:]

In [154]:
values

('DJIA', 2019, 1, 26, 26313, 26458, 26260, 26393)

In [155]:
djia3 = Stock(*values)

In [156]:
djia3

Stock(symbol='DJIA', year=2019, month=1, day=26, open=26313, high=26458, low=26260, close=26393)

In [157]:
djia4 = Stock._make(values)

In [158]:
djia4

Stock(symbol='DJIA', year=2019, month=1, day=26, open=26313, high=26458, low=26260, close=26393)

In [159]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [160]:
id(djia)

1276184170672

In [161]:
djia5 = djia._replace(year=2019, day=26)

In [162]:
djia5

Stock(symbol='DJIA', year=2019, month=1, day=26, open=26313, high=26458, low=26260, close=26393)

In [163]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [164]:
id(djia5)

1276184174256

In [165]:
djia = djia._replace(year=2019, day=26)

In [166]:
id(djia)

1276184188400

In [167]:
Point2D = namedtuple('Point2D', 'x y')

In [168]:
Point3D = namedtuple('Point3D', 'x y z')

In [169]:
djia

Stock(symbol='DJIA', year=2019, month=1, day=26, open=26313, high=26458, low=26260, close=26393)

In [170]:
StockExt = namedtuple('StockExt', 
                      '''symbol year month day open high low 
                      close previous_close''')

In [171]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [172]:
new_fields = Stock._fields + ('previous_close',)

In [173]:
new_fields

('symbol',
 'year',
 'month',
 'day',
 'open',
 'high',
 'low',
 'close',
 'previous_close')

In [174]:
StockExt = namedtuple('StockExt', Stock._fields + ('previous_close',))

In [175]:
StockExt._fields

('symbol',
 'year',
 'month',
 'day',
 'open',
 'high',
 'low',
 'close',
 'previous_close')

In [176]:
' '.join(Stock._fields) + ' previous_close'

'symbol year month day open high low close previous_close'

In [177]:
djia_ext = StockExt(*djia, 25_000)

In [178]:
djia_ext

StockExt(symbol='DJIA', year=2019, month=1, day=26, open=26313, high=26458, low=26260, close=26393, previous_close=25000)

In [179]:
Point2D = namedtuple('Point2D', 'x y')

In [180]:
Point2D.__doc__ = 'Represents a 2D Cartesian coordinate'

In [181]:
Point2D.x.__doc__ = 'x-coordinate'
Point2D.y.__doc__ = 'y-coordinate'

In [182]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  Represents a 2D Cartesian coordinate
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      x-coordinate
 |
 |  y
 |      y-coordinate
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

In [183]:
Vector = namedtuple('Vector', 'x1 y1 x2 y2 origin_x origin_y')

In [184]:
vector_zeroorigin = Vector(x1=None, y1=None, x2=None, y2=None, origin_x=0, origin_y=0)

In [185]:
vector_zeroorigin

Vector(x1=None, y1=None, x2=None, y2=None, origin_x=0, origin_y=0)

In [186]:
v1 = vector_zeroorigin._replace(x1=1, y1=1, x2=10, y2=10)

In [187]:
def func(a, b=20, c=30):
    print(a, b, c)

In [188]:
func.__defaults__

(20, 30)

In [189]:
func.__defaults__ = (200, 300)

In [190]:
func(10)

10 200 300

In [191]:
Vector = namedtuple('Vector', 'x1 y1 x2 y2 origin_x origin_y')

In [192]:
Vector.__new__.__defaults__ = (0, 0)

In [193]:
v1 = Vector(0, 0, 10, 10, -10, -10)

In [194]:
v1

Vector(x1=0, y1=0, x2=10, y2=10, origin_x=-10, origin_y=-10)

In [195]:
v2 = Vector(5, 5, 20, 20)

In [196]:
v2

Vector(x1=5, y1=5, x2=20, y2=20, origin_x=0, origin_y=0)

In [197]:
from random import randint, random

def random_color():
    red = randint(0, 255)
    green = randint(0,255)
    blue = randint(0, 255)
    alpha = round(random(), 2)
    return red, green, blue, alpha

In [198]:
random_color()

(94, 226, 60, 0.47)

In [199]:
red, green, blue, alpha = random_color()

In [200]:
print(f'red={red}, green={green}, blue={blue}, alpha={alpha}')

red=82, green=100, blue=223, alpha=0.55

In [201]:
from collections import namedtuple

In [202]:
Color = namedtuple('Color', 'red green blue alpha')

def random_color():
    red = randint(0, 255)
    green = randint(0,255)
    blue = randint(0, 255)
    alpha = round(random(), 2)
    return Color(red, green, blue, alpha)

In [203]:
color = random_color()

In [204]:
color

Color(red=154, green=180, blue=95, alpha=0.33)

In [41]:
data_dict = dict(key1=100, key2=200, key3=300)

In [42]:
Data = namedtuple('Data', data_dict.keys())

In [43]:
Data._fields

('key1', 'key2', 'key3')

In [44]:
d1 = Data(*data_dict.values())

In [45]:
d1

Data(key1=100, key2=200, key3=300)

In [46]:
data_dict_2 = dict(key1=100, key3=300, key2=200)

In [47]:
d2 = Data(**data_dict_2)

In [48]:
d2

Data(key1=100, key2=200, key3=300)

In [52]:
data_dict3 = dict(first_name='John', last_name='Cleese', age=42, complaint='dead parrot')

In [54]:
Data2 = namedtuple('Data2', data_dict3.keys())
data_dict3.values()

dict_values(['John', 'Cleese', 42, 'dead parrot'])

In [56]:
[*data_dict3.values()]

['John', 'Cleese', 42, 'dead parrot']

In [59]:
d3 = Data(*data_dict3.values())
d3

TypeError: <lambda>() takes 4 positional arguments but 5 were given

In [60]:
data_dict3.keys()

dict_keys(['first_name', 'last_name', 'age', 'complaint'])

In [215]:
sorted(data_dict.keys())

['age', 'complaint', 'first_name', 'last_name']

In [216]:
Struct = namedtuple('Struct', sorted(data_dict.keys()))

In [217]:
Struct._fields

('age', 'complaint', 'first_name', 'last_name')

In [218]:
d1 = Struct(**data_dict)

In [219]:
d1

Struct(age=42, complaint='dead parrot', first_name='John', last_name='Cleese')

In [220]:
data_dict.get('age', None), data_dict.get('invalid_key', None)

(42, None)

In [221]:
getattr(d1, 'age', None), getattr(d1, 'invalid_field', None)

(42, None)

In [222]:
data_list = [
    {'key1': 1, 'key2': 2},
    {'key1': 3, 'key2': 4},
    {'key1': 5, 'key2': 6, 'key3': 7},
    {'key2': 100}
]

In [223]:
keys = set()
for d in data_list:
    for key in d.keys():
        keys.add(key)

In [224]:
keys

{'key1', 'key2', 'key3'}

In [225]:
keys = {key for dict_ in data_list for key in dict_.keys()}

In [226]:
keys

{'key1', 'key2', 'key3'}